[tool.ruff]
line-length = 100
target-version = "py311"
extend-exclude = [
  ".venv",
  "__pycache__",
]

[tool.ruff.lint]
select = ["E", "F", "I"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
check_untyped_defs = true
warn_unused_ignores = true
warn_redundant_casts = true
